html {
  background-color: #191414;
}

a {
  color: #FFFFFF;
}

h1 {
  margin-left: 5%;
  margin-top: 5%;
  font-family: Consolas, 'Courier New', monospace;
  color: #1DB954;
}

h2 {
  margin-left: 5%;
  font-family: Consolas;
  color: #FFFFFF;
}

h3 {
  margin-left: 5%;
  font-family: Consolas;
  color: #FFFFFF;
}

h6 {
  margin-top: 0%;
  margin-left: 5%;
  font-family: Consolas;
  color: #FFFFFF;
}

button {
  background-color: #191414;
  border: 2px solid #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
  color: #FFFFFF;
  font-family: Consolas;
  font-size: 24px;
}

li {
  color: #FFFFFF;
  font-family: Consolas;
  font-size: 24px;
  margin-left: 5%;
  list-style-type: none;
}

.playlistOptions {
  margin-bottom: 5%;
}

label {
  margin-left: 5%;
  color: #FFFFFF;
  font-family: Consolas;
}

input {
  margin-bottom: 1%;
}

.debug-controls {
  margin-top: 5%;
  margin-left: 5%;
  font-family: Consolas;
  font-size: 18px;
  width: auto;
  border: 2px solid #1DB954;
}