html {
  background-color: #191414;
}

h1 {
  margin-left: 5%;
  margin-top: 5%;
  font-family: Consolas, 'Courier New', monospace;
  color: #1DB954;
}

h2 {
  margin: 5%;
  font-family: Consolas;
}

button {
  align: center;
  background-color: #191414;
  border: 2px solid #FFFFFF;
  margin-left: 5%;
  color: #FFFFFF;
  font-family: Consolas;
  font-size: 24px;
  width: 300px;
}